# Project Enviroment
src/main/java/com/ex/env/EnviromentVariables.java
src/main/resources/database.properties

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
