<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>trivia-townes-server</display-name>
  
  <servlet>
  	<servlet-name>spring-dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>spring.dispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>

<!-- 
Exploring the Front Controller design pattern 
Use a wild-card url-pattern to point all (or all of one type)
requests to one servlet, then based on the request URL, 
designate a helper method/class to carry out appropriate behavior
 -->
 <!--
	<servlet>
		<servlet-name>ExampleServlet</servlet-name>
		<servlet-class>com.ex.servlets.ExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExampleServlet</servlet-name>
		<url-pattern>/example</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewUserServlet</servlet-name>
		<servlet-class>com.ex.servlets.NewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUserServlet</servlet-name>
		<url-pattern>/new-user</url-pattern>
	</servlet-mapping>
-->
</web-app>
